!!! 5
%html
    %head
        %title wrms
        %link{ :href => 'css/design.css', :rel => 'stylesheet'}
        %script{ :'data-main' => 'js/main', :src => 'js/libs/require/require.js'}
    %body
        %canvas#wrms{ :height => "150", :width => "300"}